// ALERT COLOR
$success: #4caf50;
$info: #4285f4;
$warning: #ff6500;
$danger: #d50000;
$default: #e7e7e7;
/* ETERNAL SOURCE */
$colorFB: #3b5998;
$colorGG: #db4437;
/* GOOGLE LOGO COLORS */
$google-logo-red: #ea4335;
$google-logo-orange: #fbbc05;
$google-logo-blue: #4285f4;
$google-logo-green: #34a853;
/* Z INDEX */
$z-level-1: 100000;
$z-level-2: 10000;
$z-level-3: 1000;
$z-level-4: 100;
$z-level-5: 10;