<div class="content-container">
  <a href="/login">Login</a>
  <a href="/dashboard">Dashboard</a>
  <div class="row">
    <div class="column" data-flash-view>
      <img data-flash-view-img src="https://www.google.com/logos/doodles/2018/celebrating-mount-olympus-6110994337103872-l.png">
      <div class="view-modal">
        <div class="view-modal-mask-bg"></div>
        <img class="view-modal-img" src="https://www.google.com/logos/doodles/2018/celebrating-mount-olympus-6110994337103872-l.png">
      </div>
    </div>
    <div class="column" data-flash-view>
      <img data-flash-view-img src="/assets/img/man.jpeg">
      <div class="view-modal">
        <div class="view-modal-mask-bg"></div>
        <img class="view-modal-img" src="/assets/img/man.jpeg">
      </div>
    </div>
  </div>
</div>