.content-container {
  margin: auto;
  padding: 1200px 0; 
  width: 980px;
  height: 1500px;
  background-color: red;
  .column {
    position: relative;
    width: 50%;
    > img {
      display: block;
      width: 100%;
    }
  }
}

.view-modal {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #fff;
  visibility: hidden;
  opacity: 0;
  transition: transform .3s cubic-bezier(.2,0,.2,1), visibility .2s cubic-bezier(.2,0,.2,1), opacity .2s cubic-bezier(.2,0,.2,1);
  user-select: none;
  z-index: 800;
  &.is-zooming {
    visibility: visible;
    opacity: 1;
    &:before {
      content: '';
      display: block;
      position: fixed;
      top: -100vh;
      left: -100vw;
      width: 100%;
      height: 100%;
      padding: 100vh 100vw;
      background: #fff;
      z-index: -1;
      visibility: visible;
      opacity: 1;
      transform: translateZ(0);
    }
  }
  &.is-zoomed {
    position: fixed;
    transition: none;
    visibility: visible;
    opacity: 1;
    display: flex;
  }
  &-img {
    display: block;
    width: 100%;
    height: 100%;
    margin: auto;
    user-select: none;
    cursor: -webkit-grab;
  }
}

@media screen and (max-width: 610px) {
  .content-container {
    width: 100%;
  }
}