.content-container {
  margin: auto;
  padding: 1200px 0; 
  width: 980px;
  height: 1500px;
  background-color: red;
  .product-item {
    position: relative;
    width: 50%;
    > img {
      display: block;
      width: 100%;
    }
  }
}

.view-modal {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  visibility: hidden;
  opacity: 0;
  user-select: none;
  z-index: 800;
  &:before {
    content: '';
    display: block;
    position: fixed;
    top: -100vh;
    left: -100vw;
    width: 100%;
    height: 100%;
    padding: 100vh 100vw;
    background: #fff;
    z-index: -1;
    visibility: hidden;
    opacity: 0;
    transition: visibility .3s cubic-bezier(.2, 0, .2, 1), opacity .3s cubic-bezier(.2, 0, .2, 1);
  }
  &.is-zooming,
  &.is-zoomed,
  &.is-zoomingout,
  &.is-zoomedout {
    visibility: visible;
    opacity: 1;
    &:before {
      visibility: visible;
      opacity: 1;
    }
  }
  &.is-zooming {
    transition: transform .3s cubic-bezier(.2, 0, .2, 1), width .3s, top .3s, left .3s;
  }
  &.is-zoomed {
    position: fixed;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    transition: none;
    background-color: #fff;
    overflow: hidden;
    overflow-y: auto;
    .view-modal-mask-bg {
      display: block;
      background-color: #fff;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
    }
    &:before {
      visibility: hidden;
      opacity: 0;
    }
  }
  &.is-zoomingout {
    transition: none;
  }
  &.is-zoomedout {
    transition: transform .3s cubic-bezier(.4, 0, .2, 1);
    transform: translate(0, 0) scale(1);
    &:before {
      visibility: hidden;
      opacity: 0;
    }
  }
  &-mask-bg {
    display: none;
    z-index: -1;
  }
  &-img {
    display: block;
    width: 100%;
    height: 100%;
    margin: auto;
    user-select: none;
    cursor: -webkit-grab;
    &.on-drag {
      transition: transform .3s;
      transform: translate(0px, 0px) scale(1);
    }
    &.on-loose {
      animation: y-shake .3s;
    }
  }
  .img-wrapper {
    width: 100%;
  }
  .info-wrapper {
    height: 1200px;
    h1 {
      font-size: 24px;
    }
  }
}

@media screen and (max-width: 610px) {
  .content-container {
    width: 100%;
    padding-left: 15px;
    padding-right: 15px;
    .product-item {
      width: 100%;
      margin-bottom: 20px;
    }
  }
}

@keyframes y-shake {
  0% { transform: scaleY(1); }
  50% { transform:  scaleY(.95); }
}

@media screen and (min-width: 980px) {
  .g-scrollbar::-webkit-scrollbar {
    width: 0px;
    height: 5px;
  }
  .g-scrollbar::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, 0.2);
    box-shadow: inset 1px 1px 0 rgba(0, 0, 0, 0.10), inset 0 -1px 0 rgba(0, 0, 0, 0.07);
  }
}