<div class="content-container">
  <div class="row">
    <div class="product-item" data-flash-view>
      <img data-flash-view-img src="/assets/img/woman.jpeg">
      <div class="view-modal g-scrollbar">
        <div class="view-modal-mask-bg"></div>
        <div class="img-wrapper">
          <img class="view-modal-img" src="/assets/img/woman.jpeg">
        </div>
        <div class="info-wrapper">
          <h1>Coffee is kind of drink</h1>
        </div>
      </div>
    </div>
    <div class="product-item" data-flash-view>
      <img data-flash-view-img src="/assets/img/man.jpeg">
      <h1>Human is kind of university</h1>
      <div class="view-modal g-scrollbar">
        <div class="view-modal-mask-bg"></div>
        <div class="img-wrapper">
          <img class="view-modal-img" src="/assets/img/man.jpeg">
        </div>
        <div class="info-wrapper">
          <h1>Human is kind of university</h1>
        </div>
      </div>
    </div>
  </div>
</div>