@import 'variable';

.login-container {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
}
.login-wrapper {
  position: relative;
  width: 450px;
  padding: 16px;
  border-radius: 8px;
  form {
    position: relative;
  }
  .btn-action {
    justify-content: space-between;
    margin-top: 20px;
  }
}
.error-msg-line {
  color: $danger;
  margin: 7px 0;
  height: 16px;
  line-height: 16px;
  font-size: 12px;
}
.login-btn {
  font-weight: 700;
  padding: 0 12px;
  min-width: 88px;
  height: 36px;
  line-height: 36px;
  .text {
    position: relative;
  }
}
.safe-mode {
  display: flex;
  justify-content: flex-end;
}
.privacy-right {
  position: relative;
  display: flex;
  align-items: center;
}

@media screen and (max-width: 480px) {
  .login-container {
    align-items: initial;
  }
  .login-wrapper {
    box-shadow: none;
    width: 100%;
    padding: 24px 24px 36px;
  }
  .gg-progress-bar-outer {
    border-radius: 0;
  }
}