<div class="login-container">
  <div class="login-wrapper ui-card">

    <div class="gg-progress-bar" [ngClass]="userInputState.onProgress ? 'active' : 'paused'">
      <div class="gg-progress-bar-outer">
        <div class="gg-progress-bar-inner"></div>
        <div class="gg-progress-bar-slide-piece effect-1"><span class="gg-progress-bar-bullet"></span></div>
        <div class="gg-progress-bar-slide-piece effect-2"><span class="gg-progress-bar-bullet"></span></div>
      </div>
    </div>
    <form id="login">
      <div class="safe-mode">
        <div class="toggle-container" aria-checked="true">
          <div class="toggle-bar">
            <div class="circle">
              <div class="paper-ripple"></div>
            </div>
          </div>
        </div>
      </div>

      <div class="gg-bound-control" [ngClass]="{'hasError': !userInputState.username}" data-bound-control>
        <div class="gg-bound-control-outer">
          <div class="gg-bound-control-inner">
            <div class="gg-bound-control-wrapper">
              <input class="gg-bound-control-input" type="text" #usernameInput spellcheck="false" autocomplete="off" [(ngModel)]="userInput.username" name="username">
              <div class="gg-bound-control-label">Username</div>
            </div>
            <div class="gg-bound-control-df-bottom-border"></div>
            <div class="gg-bound-control-ef-bottom-border"></div>
          </div>
        </div>
      </div>

      <div class="gg-bound-control" [ngClass]="{'hasError': !userInputState.password}" data-bound-control>
        <div class="gg-bound-control-outer">
          <div class="gg-bound-control-inner">
            <div class="gg-bound-control-wrapper">
              <input class="gg-bound-control-input" type="password" #passwordInput spellcheck="false" autocomplete="off" [(ngModel)]="userInput.password" name="password">
              <div class="gg-bound-control-label">Password</div>
            </div>
            <div class="gg-bound-control-df-bottom-border"></div>
            <div class="gg-bound-control-ef-bottom-border"></div>
          </div>
        </div>
      </div>

      <div class="error-msg-line">{{message}}</div>

      <div class="privacy-right">
        <div class="checkbox-container" aria-checked="true">
          <div class="checkbox">
            <div class="circle">
              <div class="paper-ripple"></div>
            </div>
          </div>
        </div>
        <div class="text">I agree with terms and privacy.</div>
      </div>

      <div class="row btn-action">
        <div class="btn btn-default btn-link login-btn" data-ripple routerLink="/dashboard">
          <div class="ripple"></div>          
          <div class="btn-text-mask"></div>
          <span class="text">Button link</span>
        </div>

        <div class="btn btn-default btn-blue login-btn" data-ripple (click)="login()">
          <div class="ripple"></div>
          <div class="btn-text-mask"></div>
          <span class="text">Login</span>
        </div>

        <div class="btn btn-default btn-blue login-btn" data-ripple data-background-color="rgba(0, 0, 0, .35)" data-position="center">
          <div class="ripple"></div>          
          <div class="btn-text-mask"></div>
          <span class="text">Center</span>
        </div>
      </div>
    </form>
  </div>
</div>