<div class="login-container">
  <div class="login-wrapper ui-card">

    <div class="gg-progress-bar" [ngClass]="userInputState.onProgress ? 'active' : 'paused'">
      <div class="gg-progress-bar-outer">
        <div class="gg-progress-bar-inner"></div>
        <div class="gg-progress-bar-slide-piece effect-1"><span class="gg-progress-bar-bullet"></span></div>
        <div class="gg-progress-bar-slide-piece effect-2"><span class="gg-progress-bar-bullet"></span></div>
      </div>
    </div>
    <form id="login">
      <div class="toggle-container" aria-checked="true">
        <div class="toggle-bar">
          <div class="circle">
            <div class="paper-ripple"></div>
          </div>
        </div>
      </div>
      <div class="checkbox-container" aria-checked="true">
        <div class="checkbox">
          <div class="circle">
            <div class="paper-ripple"></div>
          </div>
        </div>
      </div>
      <div class="gg-bound-control" [ngClass]="{'hasError': !userInputState.username}" data-bound-control>
        <div class="gg-bound-control-outer">
          <div class="gg-bound-control-inner">
            <div class="gg-bound-control-wrapper">
              <input class="gg-bound-control-input" type="text" #usernameInput spellcheck="false" autocomplete="off" [(ngModel)]="userInput.username" name="username">
              <div class="gg-bound-control-label">Username</div>
            </div>
            <div class="gg-bound-control-df-bottom-border"></div>
            <div class="gg-bound-control-ef-bottom-border"></div>
          </div>
        </div>
      </div>

      <div class="gg-bound-control" [ngClass]="{'hasError': !userInputState.password}" data-bound-control>
        <div class="gg-bound-control-outer">
          <div class="gg-bound-control-inner">
            <div class="gg-bound-control-wrapper">
              <input class="gg-bound-control-input" type="password" #passwordInput spellcheck="false" autocomplete="off" [(ngModel)]="userInput.password" name="password">
              <div class="gg-bound-control-label">Password</div>
            </div>
            <div class="gg-bound-control-df-bottom-border"></div>
            <div class="gg-bound-control-ef-bottom-border"></div>
          </div>
        </div>
      </div>

      <div class="error-msg-line">{{message}}</div>
      <div class="row">
        <div class="btn btn-default btn-blue login-btn" data-ripple (click)="login()">
          <div class="btn-text-mask"></div>
          <span class="text">Login</span>
        </div>
        <div class="btn btn-default btn-blue login-btn" data-ripple data-background-color="rgba(255,255,255,.6)" data-position="center">
          <div class="btn-text-mask"></div>
          <span class="text">Touch</span>
        </div>
      </div>
    </form>
  </div>
</div>