<div class="body-container">
  <div class="content-container">
    <div class="row">

      <div class="product-item" data-flash-view>
        <img data-flash-view-img src="/assets/img/woman.jpeg">
        <div class="view-modal">
          <div class="view-modal-img-wrapper">
            <img class="view-modal-img" src="/assets/img/woman.jpeg">
          </div>
          <div class="view-modal-info-wrapper">
            <h1>Coffee is kind of drink: Scale</h1>
          </div>
        </div>
      </div>
      <div class="product-item" data-flash-view>
        <img data-flash-view-img src="/assets/img/man.jpeg">
        <div class="view-modal">
          <div class="view-modal-close-btn" data-dismiss>
              <div class="ko-material-icon close"></div>
          </div>
          <div class="view-modal-img-wrapper">
            <img class="view-modal-img" src="/assets/img/man.jpeg">
          </div>
          <div class="view-modal-info-wrapper">
            <h1>Coffee is kind of drink</h1>
            <p>It's perfectly logical to clean things once you notice that they're dirty. But germs and bacteria are invisible, after all, which means much of the nastiness we encounter on a regular basis goes virtually undetected, while at the same time spreading viruses (or worse). Things like phones, wooden cutting boards, and even washing machines need our special care and attention more often than you might think. These household items are handled often, yet we don't necessarily think about cleaning them. Until now.</p>
            <p>It's perfectly logical to clean things once you notice that they're dirty. But germs and bacteria are invisible, after all, which means much of the nastiness we encounter on a regular basis goes virtually undetected, while at the same time spreading viruses (or worse). Things like phones, wooden cutting boards, and even washing machines need our special care and attention more often than you might think. These household items are handled often, yet we don't necessarily think about cleaning them. Until now.</p>
            <p>It's perfectly logical to clean things once you notice that they're dirty. But germs and bacteria are invisible, after all, which means much of the nastiness we encounter on a regular basis goes virtually undetected, while at the same time spreading viruses (or worse). Things like phones, wooden cutting boards, and even washing machines need our special care and attention more often than you might think. These household items are handled often, yet we don't necessarily think about cleaning them. Until now.</p>
            <p>It's perfectly logical to clean things once you notice that they're dirty. But germs and bacteria are invisible, after all, which means much of the nastiness we encounter on a regular basis goes virtually undetected, while at the same time spreading viruses (or worse). Things like phones, wooden cutting boards, and even washing machines need our special care and attention more often than you might think. These household items are handled often, yet we don't necessarily think about cleaning them. Until now.</p>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>