/* IMPORT */

@import './assets/scss/chrome-color';
@import './assets/scss/variable';
/* RESET */

* {
  box-sizing: border-box
}

html,
body,
div,
span,
button,
applet,
object,
hr,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
input,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
}

h1,
h2 {
  font-weight: normal;
}

h3,
h4,
h5,
h6 {
  font-weight: 500
}

h1 {
  font-size: 20px
}

h2 {
  font-size: 16px
}

h3,
h4 {
  font-size: 13px
}

h5,
h6 {
  font-size: 10px
}

dt {
  font-weight: 500
}

sup {
  font-size: 80%
}

ins {
  text-decoration: none
}

del {
  text-decoration: line-through
}

button {
  outline: 0
}

button,
li {
  cursor: pointer
}

button,
input,
textarea {
  font: 13px arial, sans-serif
}

strong,
b {
  font-weight: 500
}

em {
  font-style: italic
}

label {
  font-weight: normal
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block
}

ol,
ul,
li {
  list-style: none
}

table {
  border-collapse: collapse;
  border-spacing: 0
}

select {
  border-radius: 2px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1);
  user-select: none;
  border: 1px solid #aaa;
  color: #555;
  padding: 0 12px;
  height: 30px;
  line-height: 28px;
  text-overflow: ellipsis;
  white-space: nowrap
}

select:hover {
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
  color: #333
}

a,
a:hover,
a:visited {
  color: #167ac6;
  cursor: pointer;
  text-decoration: none
}

a:hover {
  text-decoration: underline
}

textarea {
  outline: 0;
  padding: 4px 8px
}

input {
  border: 1px solid #d9d9d9;
  border-top: 1px solid #c0c0c0;
  border-radius: 0;
  display: inline-block;
  box-shadow: none;
  height: 29px;
  padding: 0 8px;
  margin: 0;
  background: #fff;
  font-size: 15px;
  color: #404040
}

.clearfix:before {
  content: '.';
  display: block;
  height: 0;
  visibility: hidden
}

.clearfix:after {
  content: '.';
  display: block;
  height: 0;
  visibility: hidden;
  clear: both
}

/* GRID */

.row {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
}

.row-rv {
  flex-direction: row-reverse;
}

.col-rv {
  flex-direction: column-reverse;
}

.col-d43 {
  width: 75%
}

.col-d2 {
  width: 50%
}

.col-d3 {
  width: 33.33%
}

.col-d41 {
  width: 25%
}

.col-d51 {
  width: 20%
}

.col-d107 {
  width: 70%
}

.col-d106 {
  width: 60%
}

.col-d104 {
  width: 40%
}

.col-d103 {
  width: 30%
}

.col-d10064 {
  width: 64%
}

.col-d10036 {
  width: 36%
}

.col-d {
  flex: 1
}

/* IMAGE OBJECT FIT */

.imgCover,
.imgContain,
.imgNone,
.imgScaledown {
  display: block;
  width: 100%;
  height: 100%
}

.imgCover {
  object-fit: cover
}

.imgContain {
  object-fit: contain
}

.imgNone {
  object-fit: none
}

.imgScaledown {
  object-fit: scale-down
}

/* STYLE */

html {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

body {
  background: #fff;
  direction: ltr;
  font-size: 14px;
  line-height: 1.4286;
  font-family: arial, sans-serif;
  color: #212121;
}

/* CARD */

.ui-card {
  flex-shrink: 0;
  background: #fff;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2);
  display: block;
  margin: 0 auto;
}

/* BUTTON , NOTE: ._(prefix)classname are effects*/

.btn {
  transition: background .8s;
  border: 0;
  border-radius: 3px;
  cursor: pointer;
  display: inline-block;
  font-size: 14px;
  font-weight: 500;
  min-width: 4em;
  outline: none;
  overflow: hidden;
  position: relative;
  text-align: center;
  text-transform: uppercase;
  white-space: nowrap;
  user-select: none;
  -webkit-tap-highlight-color: transparent;
  z-index: 0;
  .btn-text-mask {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: transparent;
  }
}

.btn-default {
  transition: box-shadow .28s cubic-bezier(0.4, 0.0, 0.2, 1);
  background: #dfdfdf;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2);
}

.btn-blue {
  background: #4285f4;
  color: #fff;
  &.active {
    transition: background .8s;
    box-shadow: 0 8px 10px 1px rgba(0, 0, 0, 0.14), 0 3px 14px 2px rgba(0, 0, 0, 0.12), 0 5px 5px -3px rgba(0, 0, 0, 0.2);
  }
}
.btn-link {
  background: #fff;
  color: #4285f4;
  box-shadow: none;
  &.active {
    transition: background .8s;
  }
  .ripple {
    background-image: radial-gradient(circle farthest-side,rgba(66,133,244,0.251),rgba(66,133,244,0.251) 80%,rgba(66,133,244,0) 100%);
  }
  .text {
    font-weight: 400;
    white-space: nowrap;
    text-transform: none;
  }
}

/*** EFFECTS ***/

/* RIPPLE WAVE EFFECT */

[data-ripple] {
  position: relative;
}

.ripple {
  background-image: radial-gradient(circle farthest-side, #2a56c6, #2a56c6 80%, rgba(42, 86, 198, 0) 100%);
  transform: translate(-50%, -50%) scale(0);
  transition: opacity .2s ease, visibility 0s ease .2s, transform 0s ease .2s;
  background-size: cover;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  .active & {
    transform: translate(-50%, -50%) scale(2.2);
    visibility: visible;
    opacity: 1;
    transition: transform .3s cubic-bezier(0, 0, .2, 1), opacity .2s cubic-bezier(0, 0, .2, 1);
  }
  .btn[data-position="center"] & {
    transition: transform .3s cubic-bezier(0.23, 1, 0.32, 1), opacity .2s cubic-bezier(0.23, 1, 0.32, 1);
    background: rgba(255, 255, 255, .35);
    border-radius: 50%;
    top: 50%;
    left: 50%;
  }
  .active[data-position="center"] & {
    transform: translate(-50%, -50%) scale(1);
  }
}

/* TOOLTIP */

.tooltip-container {
  z-index: 999;
  position: fixed;
  background-color: rgba(0, 0, 0, .8);
  border: 1px solid #fff;
  color: #fff;
  cursor: default;
  display: block;
  padding: 8px 12px;
  white-space: pre-wrap;
  word-break: break-word;
  visibility: hidden;
  opacity: 0;
  transition: opacity 120ms ease-out;
  &.show {
    visibility: visible;
    opacity: 1;
  }
  .tooltip-text {
    font-weight: 500;
    font-size: 15px;
    font-family: arial, sans-serif;
    line-height: 20px;
  }
  .tooltip-icon-wrapper {
    position: absolute;
    width: 100%;
    top: -5px;
    left: calc(50%);
    .tooltip-icon1 {
      border: 5px solid;
      border-color: rgba(0, 0, 0, .8) transparent;
      left: -5px;
    }
    .tooltip-icon2 {
      border: 6px solid;
      border-color: #fff transparent;
      left: -6px;
      top: -1px !important;
    }
    .tooltip-icon {
      border-top-width: 0;
      top: 0;
      position: absolute;
      display: block;
      height: 0;
      width: 0;
    }
  }
}

/* PAPER-RIPPLE: THIS GENERAL-CLASS FOR SHOW EFFECT ON CHECK STATEMENT */

.paper-ripple {
  z-index: -1;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  border-radius: 50%;
  background-color: rgba(0, 0, 0, 0.1);
  opacity: 0;
  transform: scale(0);
  transition: transform .3s cubic-bezier(0.23, 1, 0.32, 1), opacity .2s cubic-bezier(0.23, 1, 0.32, 1);
}

/* TOGGLE BUTTON */

.toggle-container {
  z-index: 1;
  position: relative;
  width: 46px;
  height: 46px;
  line-height: 0;
  font-size: 0;
  .toggle-bar {
    position: absolute;
    cursor: pointer;
    top: calc(50% - 6px);
    left: 0;
    right: 0;
    bottom: 0;
    width: 32px;
    height: 14px;
    background-color: rgba(0, 0, 0, .4);
    transition: background-color .4s;
    border-radius: 8px;
    .circle {
      display: block;
      position: absolute;
      top: -2px;
      left: -2px;
      height: 18px;
      width: 18px;
      border-radius: 50%;
      box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.6);
      transition: transform linear 140ms, background-color linear 140ms;
      background-color: #fff;
    }
  }
  &[aria-checked="true"] .toggle-bar {
    background-color: rgba(66, 133, 244, .4);
    .circle {
      transform: translateX(18px);
      background-color: rgba(66, 133, 244, 1);
      box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.4);
    }
    &.green {
      background-color: rgba(76, 175, 80, .4);
      .circle {
        background-color: rgba(76, 175, 80, 1);
      }
    }
    &.red {
      background-color: rgba(244, 67, 54, .4);
      .circle {
        background-color: rgba(244, 67, 54, 1);
      }
    }
    &.orange {
      background-color: rgba(251, 188, 5, .4);
      .circle {
        background-color: rgba(251, 188, 5, 1);
      }
    }
    &.yellow {
      background-color: rgba(255, 250, 93, .4);
      .circle {
        background-color: rgba(255, 250, 93, 1);
      }
    }
    &.indigo {
      background-color: rgba(63, 81, 181, .4);
      .circle {
        background-color: rgba(63, 81, 181, 1);
      }
    }
    &.violet {
      background-color: rgba(148, 0, 211, .4);
      .circle {
        background-color: rgba(148, 0, 211, 1);
      }
    }
    &.pink {
      background-color: rgba(255, 192, 203, .4);
      .circle {
        background-color: rgba(255, 192, 203, 1);
      }
    }
    &.brown {
      background-color: rgba(165, 42, 42, .4);
      .circle {
        background-color: rgba(165, 42, 42, 1);
      }
    }
    &.chartreuse {
      background-color: rgba(127, 255, 0, .4);
      .circle {
        background-color: rgba(127, 255, 0, 1);
      }
    }
    &.aqua {
      background-color: rgba(0, 255, 255, .4);
      .circle {
        background-color: rgba(0, 255, 255, 1);
      }
    }
  }
}

/* CHECKBOX */

.checkbox-container {
  z-index: 1;
  display: flex;
  position: relative;
  height: 46px;
  width: 46px;
  line-height: 0;
  font-size: 0;
  .checkbox {
    border: 2px solid $paper-grey-600;
    border-radius: 2px;
    width: 18px;
    height: 18px;
    margin: 14px;
    background-color: transparent;
    &.disabled {
      opacity: .3;
    }
    &:after {
      border-color: inherit;
      border-style: solid;
      border-width: 0 2px 2px 0;
      content: '';
      display: block;
      height: 70%;
      transform: scale(0) rotate(45deg);
      transform-origin: 97% 86%;
      width: 36%;
    }
  }
  &[aria-checked="true"] .checkbox {
    background-color: $google-blue-500;
    border-color: $google-blue-500;
    &:after {
      border-color: white;
      transform: scale(1) rotate(45deg);
      transition: transform 140ms ease-out;
    }
  }
}

// Google Bound Control 08/06/2018
%gg-bound-control-transform {
  transform: scale(.75) translateY(-39px);
}

.gg-bound-control {
  -webkit-tap-highlight-color: transparent;
  box-sizing: content-box;
  width: 100%;
  font-size: 15px;
  outline: none;
  &-outer {
    box-sizing: inherit;
    height: 40px;
    position: relative;
    vertical-align: top;
    padding-top: 24px;
  }
  &-inner {
    box-sizing: inherit;
    display: flex;
    position: relative;
    top: 14px;
  }
  &-wrapper {
    box-sizing: inherit;
    display: flex;
    flex-grow: 1;
    flex-shrink: 1;
    min-width: 0%;
    position: relative;
  }
  &-input {
    box-sizing: inherit;
    -webkit-box-flex: 1;
    flex-grow: 1;
    flex-shrink: 1;
    background-color: transparent;
    border: none;
    display: block;
    font: 400 17px Roboto, RobotoDraft, Helvetica, Arial, sans-serif;
    height: 24px;
    line-height: 24px;
    min-width: 0%;
    outline: none;
    margin: 0;
    padding: 0;
    &:not([disabled]):focus~.gg-bound-control-label {
      color: $google-blue-500;
      @extend %gg-bound-control-transform;
    }
  }
  &-label {
    box-sizing: inherit;
    color: $paper-grey-600;
    transform-origin: bottom left;
    transition: all .3s cubic-bezier(0.4, 0, 0.2, 1);
    transition-property: color, bottom, transform;
    color: rgba(0, 0, 0, 0.38);
    font: 400 17px Roboto, RobotoDraft, Helvetica, Arial, sans-serif;
    font-size: 17px;
    pointer-events: none;
    position: absolute;
    bottom: 3px;
    left: 0;
    width: 100%;
  }
  &-df-bottom-border {
    box-sizing: inherit;
    background-color: rgba(0, 0, 0, 0.12);
    width: 100%;
    height: 1px;
    position: absolute;
    bottom: -2px;
    left: 0;
    margin: 0;
    padding: 0;
    &:before {
      content: "";
      position: absolute;
      top: 0;
      bottom: -2px;
      left: 0;
      right: 0;
      border-bottom: 1px solid rgba(0, 0, 0, 0);
      pointer-events: none;
    }
  }
  &-ef-bottom-border {
    animation: quantumWizPaperInputRemoveUnderline .3s cubic-bezier(0.4, 0, 0.2, 1);
    transform: scaleX(0);
    background-color: $google-blue-500;
    width: 100%;
    height: 2px;
    position: absolute;
    bottom: -2px;
    left: 0;
    margin: 0;
    padding: 0;
  }
  &.active-gg-bound-control {
    .gg-bound-control-ef-bottom-border {
      animation: quantumWizPaperInputAddUnderline .3s cubic-bezier(0.4, 0, 0.2, 1);
      transform: scale(1);
    }
  }
  &.hasValue {
    .gg-bound-control-label {
      @extend %gg-bound-control-transform;
    }
  }
  &.hasError {
    .gg-bound-control-input:not([disabled]):focus~.gg-bound-control-label {
      color: $paper-red-a700;
    }
    .gg-bound-control-df-bottom-border {
      background-color: $paper-red-a700;
      height: 2px;
    }
    .gg-bound-control-ef-bottom-border {
      background-color: $paper-red-a700;
    }
  }
}

@keyframes quantumWizPaperInputRemoveUnderline {
  0% {
    transform: scaleX(1);
    opacity: 1;
  }
  100% {
    transform: scaleX(1);
    opacity: 0;
  }
}

@keyframes quantumWizPaperInputAddUnderline {
  0% {
    transform: scaleX(0);
  }
  100% {
    transform: scaleX(1);
  }
}

@media screen and (min-width: 610px) {
  .gg-bound-control {
    &-label {
      color: $paper-grey-600;
      font-size: 14px;
    }
  }
}
/* Google Progress Bar */

.gg-progress-bar {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 4px;
  overflow: hidden;
  opacity: 0;
  &-outer {
    position: relative;
    width: 100%;
    height: 8px;
    border-radius: 8px 8px 0 0;
    transform: translateZ(0);
    transition: opacity 250ms linear;
    overflow: hidden;
  }
  &-inner {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #e0e0e0;
    transform-origin: top left;
    transition: transform 250ms ease;
  }
  &-slide-piece {
    position: absolute;
    width: 100%;
    height: 100%;
    transition: none;
    transform-origin: top left;
    animation: none;
    &.effect-1 {
      animation: primary-indeterminate-translate 2s infinite linear;
      transform: scaleX(0);
      .gg-progress-bar-bullet {
        animation: primary-indeterminate-scale 2s infinite linear;
      }
    }
    &.effect-2 {
      animation: auxiliary-indeterminate-translate 2s infinite linear;
      visibility: visible;
      .gg-progress-bar-bullet {
        animation: auxiliary-indeterminate-scale 2s infinite linear;
      }
    }
  }
  &-bullet {
    position: absolute;
    display: inline-block;
    width: 100%;
    height: 100%;
    background-color: #ff9800;
  }
  &.active {
    opacity: 1;
    .gg-progress-bar-slide-piece.effect-1,
    .gg-progress-bar-slide-piece.effect-2,
    .gg-progress-bar-bullet {
      animation-play-state: initial;
    }
  }
  &.paused {
    .gg-progress-bar-slide-piece.effect-1,
    .gg-progress-bar-slide-piece.effect-2,
    .gg-progress-bar-bullet {
      animation-play-state: paused;
    }
  }
}

@keyframes primary-indeterminate-translate {
  0% {
    transform: translateX(-145.166611%);
  }
  20% {
    animation-timing-function: cubic-bezier(.5, 0, .701732, .495819);
    transform: translateX(-145.166611%);
  }
  59.15% {
    animation-timing-function: cubic-bezier(.302435, .381352, .55, .956352);
    transform: translateX(-61.495191%);
  }
  100% {
    transform: translateX(55.444446%);
  }
}

@keyframes auxiliary-indeterminate-translate {
  0% {
    animation-timing-function: cubic-bezier(.15, 0, .515058, .409685);
    transform: translateX(-54.888891%);
  }
  25% {
    animation-timing-function: cubic-bezier(.310330, .284058, .8, .733712);
    transform: translateX(-17.236978%);
  }
  48.35% {
    animation-timing-function: cubic-bezier(.4, .627035, .6, .902026);
    transform: translateX(29.497274%);
  }
  100% {
    transform: translateX(105.388891%);
  }
}

@keyframes primary-indeterminate-scale {
  0% {
    transform: scaleX(.08);
  }
  36.65% {
    animation-timing-function: cubic-bezier(.334731, .124820, .785844, 1);
    transform: scaleX(.08);
  }
  69.15% {
    animation-timing-function: cubic-bezier(.06, .11, .6, 1);
    transform: scaleX(.661479);
  }
  100% {
    transform: scaleX(.08);
  }
}

@keyframes auxiliary-indeterminate-scale {
  0% {
    animation-timing-function: cubic-bezier(.205028, .057051, .576610, .453971);
    transform: scaleX(.08);
  }
  19.15% {
    animation-timing-function: cubic-bezier(.152313, .196432, .648374, 1.004315);
    transform: scaleX(.457104);
  }
  44.15% {
    animation-timing-function: cubic-bezier(.257759, .003163, .211762, 1.381790);
    transform: scaleX(.727960);
  }
  100% {
    transform: scaleX(.08);
  }
}
