.ySZt6b.fp-c{
  min-height:initial
}
.bbJ0fe{
  -webkit-tap-highlight-color:transparent;
  position:relative;
  box-sizing:border-box;
  display:block;
  min-height:100vh;
  overflow:hidden
}
.bbJ0fe:focus{
  outline:none
}
.FL0zve{
  background-color:#fff
}
.zXNlPb{
  background-color:#f5f5f5
}
.G6w8Lb{
  padding-top:54px
}
.G6w8Lb.Fjfh2b{
  padding-top:72px
}
.hTDmHXqjvOA__full-height.G6w8Lb{
  padding-top:0
}
.hTDmHXqjvOA__full-height{
}
.tWPnyd{
  overflow:hidden;
  background-color:#222
}
.u2quVpIWVr0__item{
  top:0;
  left:0;
  width:100%;
  float:left;
}
.u2quVpIWVr0__item-frame{
  margin:0;
  padding:0
}
.u2quVpIWVr0__container{
  width:100%;
  position:relative;
}
.qWDyB{
  position:absolute;
  top:50%;
  width:100%
}
.u2quVpIWVr0__hidden{
  height:0;
  overflow:hidden
}
.u2quVpIWVr0__amp-container{
  background-color:#FFF;
  overflow:auto;
  -webkit-overflow-scrolling:touch
}
.u2quVpIWVr0__amp-doc{
  background-color:#FFF;
  border:0;
  display:block;
  height:100%;
  width:100%
}
.u2quVpIWVr0__amp-doc.v2FKFf{
  height:100vh;
  position:absolute
}
.u2quVpIWVr0__temporary-overlay{
  height:100%;
  position:absolute;
  width:100%
}
.u2quVpIWVr0__amp-doc{
}
.amp-bbl{
  border-radius:3px;
  display:inline-block;
  height:6px;
  margin:0px 2px;
  position:relative;
  top:-2px;
  width:6px;
  -webkit-transition:background-color 50ms ease-in-out;
  vertical-align:middle;
  background-color:rgba(0, 0, 0, 0.26)
}
.amp-clps .amp-bbl{
  height:4px;
  width:4px;
  margin:0px 1px
}
.amp-slct{
  background-color:rgba(0, 0, 0, 0.52)
}
span.amp-ttlctr{
  color:rgba(0, 0, 0, 0.64)
}
.oxVwcf{
  -webkit-user-select:none
}
.fp-h .oxVwcf{
  display:none
}
span.amp-ttlctr{
  font-size:12px;
  height:40px;
  margin:14px 0 0 0;
  text-align:center;
  vertical-align:top;
  padding:0
}
span.amp-ttlctr.amp-wibbl{
  margin:6px 0 0 0
}
.amp-bblctr{
  margin:1px 0 0 0;
}
.amp-ttltxt{
  display:inline-block;
  font-size:14px;
  height:26px;
  line-height:24px;
  overflow:hidden;
  text-overflow:ellipsis;
  width:100%
}
.amp-wibbl .amp-ttltxt{
  height:auto;
  line-height:normal;
  margin-top:2px;
}
span.tjzeje{
  margin-right:26px;
  top:-3px
}
.y1HgZb{
  box-shadow:0 1px 3px rgba(0,0,0,0.2);
  position:fixed;
  top:0;
  z-index:125
}
.zBguLb{
  display:-webkit-box;
  display:box;
  display:flex;
  display:flex;
  -webkit-box-align:center;
  align-items:center;
  align-items:center;
  height:54px
}
.zBguLb.iRSky{
  height:72px
}
.zBguLb:empty{
  display:none
}
.frDzdb{
  background-color:#4285f4;
  color:#fff
}
.yTREwe{
  background-color:#fff;
  color:rgba(0,0,0,.87)
}
.AZMHJb{
  background-color:#009688;
  color:#fff
}
.kg0d8b{
  background-color:#f5f5f5;
  color:rgba(0,0,0,.87)
}
.zspddf{
  background-color:#212121;
  color:#fff
}
.ozbzIe{
  background-color:#fafafa;
  color:rgba(0,0,0,.87)
}
.jIWkDc{
  background-color:transparent;
  color:#fff
}
.y1HgZb.jIWkDc{
  box-shadow:none
}
.yTREwe .PYDzF,.yTREwe .EJXBqd,.kg0d8b .PYDzF,.kg0d8b .EJXBqd,.ozbzIe .PYDzF,.ozbzIe .EJXBqd{
  color:rgba(0,0,0,.54)
}
.PYDzF,.EJXBqd{
  display:block;
  outline:none;
  outline-width:0;
  -webkit-tap-highlight-color:rgba(0,0,0,0);
  margin:0 8px;
  padding:16px 16px;
  flex-shrink:0;
  flex-shrink:0
}
.PYDzF{
  top:-3px
}
.S2h5sd{
  display:block;
  font-size:18px;
  overflow:hidden;
  text-overflow:ellipsis;
  white-space:nowrap;
  flex-grow:1;
  flex-grow:1;
  -webkit-box-flex:1;
  box-flex:1
}
.EJXBqd{
  font-family:Roboto-Medium,HelveticaNeue-Medium,HelveticaNeue,sans-serif-medium,Arial,sans-serif;
  line-height:15px;
  text-transform:uppercase
}
.EJXBqd:disabled,.EJXBqd[disabled]:not([disabled=false]){
  color:rgba(0,0,0,.26);
  pointer-events:none
}
.S2h5sd:first-child{
  padding-left:24px
}
.S2h5sd:last-child{
  padding-right:24px
}
.SfDUH{
  display:inline-block;
  width:24px
}
.S1kjSe{
  padding:0;
  margin:0;
  display:flex
}
.GfcFP{
  display:inline-block;
  padding:15px 8px 15px 8px
}
.hDOggf{
  height:24px;
  width:24px
}
.Kr7BNd{
  margin-top:-8px;
  width:100vw
}
.amp-cantxt{
  padding:12px 24px
}
.qx06zb{
  word-break:break-all;
  background-color:#fff;
  box-shadow:0 4px 16px rgba(0,0,0,0.2);
  margin:0 5px 0 5px
}
.amp-canurl{
  color:#212121;
  font-size:14px;
  text-decoration:none;
  display:block
}
.amp-canurl:visited{
  color:#212121
}
.EwsJzb{
  display:block;
  position:absolute
}
.rIbAWc{
  cursor:pointer;
  display:inline-block
}
.rIbAWc:focus{
  outline:none;
  outline-width:0
}
.I4Wf6d{
  padding:15px 19px 15px 7px
}
.jF00Sb{
  height:24px;
  width:24px
}
.uU6HNd{
  background-color:#fff;
  box-shadow:0 4px 16px rgba(0,0,0,0.2);
  font-family:Roboto,HelveticaNeue,Arial,sans-serif;
  font-size:14px;
  list-style:none;
  margin:-8px 5px 0 0;
  min-width:170px;
  padding:0;
  text-transform:none;
  white-space:nowrap
}
.ZgBIUb{
  display:block;
  padding:10px 15px
}
.kNwV2b:first-child .ZgBIUb{
  padding-top:20px
}
.kNwV2b:last-child .ZgBIUb{
  padding-bottom:20px
}
a.Caumwe{
  color:#212121;
  text-decoration:none
}
a.Caumwe:visited{
  color:#212121
}
.EaBzOe{
  margin-left:46px
}
.tBaPVc{
  border-radius:50%;
  display:inline-block;
  overflow:hidden
}
.EXGmjd{
  display:inline-block;
  margin-left:10px;
  vertical-align:top
}
.vlg78e{
  color:#212121;
  font-family:Roboto-Medium,HelveticaNeue-Medium,HelveticaNeue,sans-serif-medium,Arial,sans-serif;
  font-weight:bold;
  padding-bottom:4px;
  display:block
}
.xUr51e{
  color:#757575;
  font-size:13px;
  display:block
}
.v5nPIf{
  display:block;
  position:relative;
  text-align:center
}
.wgim3c{
  bottom:0;
  left:0;
  position:absolute;
  right:0;
  top:0
}
.pSFfp{
  display:inline-block;
  position:relative
}
.fY2Z0{
  animation:qli-container-rotate 1568ms linear infinite
}
@keyframes qli-container-rotate {
  from{
      transform:rotate(0)
  }
  to{
      transform:rotate(360deg)
  }
}
.jg5aPd{
  height:100%;
  opacity:0;
  position:absolute;
  width:100%
}
.fY2Z0 .yiqufc{
  -webkit-animation:qli-fill-unfill-rotate 5332ms cubic-bezier(0.4, 0.0, 0.2, 1) infinite both,qli-blue-fade-in-out 5332ms cubic-bezier(0.4, 0.0, 0.2, 1) infinite both;
  animation:qli-fill-unfill-rotate 5332ms cubic-bezier(0.4, 0.0, 0.2, 1) infinite both,qli-blue-fade-in-out 5332ms cubic-bezier(0.4, 0.0, 0.2, 1) infinite both
}
.fY2Z0 .e3Nvve{
  -webkit-animation:qli-fill-unfill-rotate 5332ms cubic-bezier(0.4, 0.0, 0.2, 1) infinite both,qli-red-fade-in-out 5332ms cubic-bezier(0.4, 0.0, 0.2, 1) infinite both;
  animation:qli-fill-unfill-rotate 5332ms cubic-bezier(0.4, 0.0, 0.2, 1) infinite both,qli-red-fade-in-out 5332ms cubic-bezier(0.4, 0.0, 0.2, 1) infinite both
}
.fY2Z0 .kpjGNb{
  -webkit-animation:qli-fill-unfill-rotate 5332ms cubic-bezier(0.4, 0.0, 0.2, 1) infinite both,qli-yellow-fade-in-out 5332ms cubic-bezier(0.4, 0.0, 0.2, 1) infinite both;
  animation:qli-fill-unfill-rotate 5332ms cubic-bezier(0.4, 0.0, 0.2, 1) infinite both,qli-yellow-fade-in-out 5332ms cubic-bezier(0.4, 0.0, 0.2, 1) infinite both
}
.fY2Z0 .Ft8sDf{
  -webkit-animation:qli-fill-unfill-rotate 5332ms cubic-bezier(0.4, 0.0, 0.2, 1) infinite both,qli-green-fade-in-out 5332ms cubic-bezier(0.4, 0.0, 0.2, 1) infinite both;
  animation:qli-fill-unfill-rotate 5332ms cubic-bezier(0.4, 0.0, 0.2, 1) infinite both,qli-green-fade-in-out 5332ms cubic-bezier(0.4, 0.0, 0.2, 1) infinite both
}
.oMjwOc .fY2Z0 .jg5aPd{
  -webkit-animation:qli-fill-unfill-rotate 5332ms cubic-bezier(0.4, 0.0, 0.2, 1) infinite both;
  animation:qli-fill-unfill-rotate 5332ms cubic-bezier(0.4, 0.0, 0.2, 1) infinite both;
  opacity:0.99
}
@keyframes qli-fill-unfill-rotate {
  0%{
      transform:rotate(0)
  }
  12.5%{
      transform:rotate(135deg)
  }
  25%{
      transform:rotate(270deg)
  }
  37.5%{
      transform:rotate(405deg)
  }
  50%{
      transform:rotate(540deg)
  }
  62.5%{
      transform:rotate(675deg)
  }
  75%{
      transform:rotate(810deg)
  }
  87.5%{
      transform:rotate(945deg)
  }
  100%{
      transform:rotate(1080deg)
  }
}
@keyframes qli-blue-fade-in-out {
  0%{
      opacity:0.99
  }
  25%{
      opacity:0.99
  }
  26%{
      opacity:0
  }
  89%{
      opacity:0
  }
  90%{
      opacity:0.99
  }
  100%{
      opacity:0.99
  }
}
@keyframes qli-red-fade-in-out {
  0%{
      opacity:0
  }
  15%{
      opacity:0
  }
  25%{
      opacity:0.99
  }
  50%{
      opacity:0.99
  }
  51%{
      opacity:0
  }
}
@keyframes qli-yellow-fade-in-out {
  0%{
      opacity:0
  }
  40%{
      opacity:0
  }
  50%{
      opacity:0.99
  }
  75%{
      opacity:0.99
  }
  76%{
      opacity:0
  }
}
@keyframes qli-green-fade-in-out {
  0%{
      opacity:0
  }
  65%{
      opacity:0
  }
  75%{
      opacity:0.99
  }
  90%{
      opacity:0.99
  }
  100%{
      opacity:0
  }
}
.r1glSd{
  display:inline-block;
  height:100%;
  overflow:hidden;
  position:relative;
  width:50%
}
.YvBkFd{
  box-sizing:border-box;
  box-sizing:border-box;
  height:100%;
  left:45%;
  overflow:hidden;
  position:absolute;
  top:0;
  width:10%
}
.jWrfPe{
  border-radius:50%;
  border:3px solid transparent;
  box-sizing:border-box;
  box-sizing:border-box
}
.unqUac{
  width:200%
}
.ZvZqlb{
  transform:rotate(129deg)
}
.tJdqHd{
  left:-100%;
  transform:rotate(-129deg)
}
.m0HFif{
  left:-450%;
  width:1000%
}
.yiqufc .jWrfPe{
  border-color:#4285f4
}
.e3Nvve .jWrfPe{
  border-color:#db4437
}
.kpjGNb .jWrfPe{
  border-color:#f4b400
}
.Ft8sDf .jWrfPe{
  border-color:#0f9d58
}
.jg5aPd .ZvZqlb{
  border-bottom-color:transparent;
  border-right-color:transparent
}
.jg5aPd .tJdqHd{
  border-bottom-color:transparent;
  border-left-color:transparent
}
.jg5aPd .m0HFif{
  border-bottom-color:transparent
}
.GuPFE .fY2Z0 .ZvZqlb{
  animation:qli-left-spin 1333ms cubic-bezier(0.4, 0.0, 0.2, 1) infinite both
}
.GuPFE .fY2Z0 .tJdqHd{
  animation:qli-right-spin 1333ms cubic-bezier(0.4, 0.0, 0.2, 1) infinite both
}
.oMjwOc .fY2Z0 .ZvZqlb{
  animation:qli-left-spin 1333ms cubic-bezier(0.4, 0.0, 0.2, 1) infinite both;
  border-left-color:#fff;
  border-top-color:#fff
}
.oMjwOc .fY2Z0 .tJdqHd{
  animation:qli-right-spin 1333ms cubic-bezier(0.4, 0.0, 0.2, 1) infinite both;
  border-right-color:#fff;
  border-top-color:#fff
}
.oMjwOc .fY2Z0 .m0HFif{
  border-color:#fff;
  border-bottom-color:transparent
}
@keyframes qli-left-spin {
  0%{
      transform:rotate(130deg)
  }
  50%{
      transform:rotate(-5deg)
  }
  100%{
      transform:rotate(130deg)
  }
}
@keyframes qli-right-spin {
  0%{
      transform:rotate(-130deg)
  }
  50%{
      transform:rotate(5deg)
  }
  100%{
      transform:rotate(-130deg)
  }
}
