.container-outer {
  display: flex;
  justify-content: center;
}

.paper-spinner-0 {
  display: inline-block;
  position: relative;
  width: 28px;
  height: 28px;
  zoom: 200%;
  * {
    font-size: 0;
    line-height: 0;
  }
  #spinnerContainer {
    &.paper-spinner {
      width: 100%;
      height: 100%;
      direction: ltr;
    }
    &.active.paper-spinner {
      animation: container-rotate-paper-spinner-0 1568ms linear infinite;
    }
  }
  .spinner-layer.paper-spinner {
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0;
    white-space: nowrap;
    color: #4285f4;
  }
  .layer-1.paper-spinner {
    color: #4285f4;
  }
  .layer-2.paper-spinner {
    color: #db4437;
  }
  .layer-3.paper-spinner {
    color: #f4b400;
  }
  .layer-4.paper-spinner {
    color: #0f9d58;
  }
  .active.paper-spinner .spinner-layer {
    &.paper-spinner {
      animation-name: fill-unfill-rotate-paper-spinner-0;
      animation-duration: 5332ms;
      animation-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
      animation-iteration-count: infinite;
      opacity: 1;
    }
    &.layer-1.paper-spinner {
      animation-name: fill-unfill-rotate-paper-spinner-0, layer-1-fade-in-out-paper-spinner-0;
    }
    &.layer-2.paper-spinner {
      animation-name: fill-unfill-rotate-paper-spinner-0, layer-2-fade-in-out-paper-spinner-0;
    }
    &.layer-3.paper-spinner {
      animation-name: fill-unfill-rotate-paper-spinner-0, layer-3-fade-in-out-paper-spinner-0;
    }
    &.layer-4.paper-spinner {
      animation-name: fill-unfill-rotate-paper-spinner-0, layer-4-fade-in-out-paper-spinner-0;
    }
  }
  .circle-clipper.paper-spinner {
    display: inline-block;
    position: relative;
    width: 50%;
    height: 100%;
    overflow: hidden;
  }
  .spinner-layer.paper-spinner::after {
    left: 45%;
    width: 10%;
    border-top-style: solid;
    content: '';
    box-sizing: border-box;
    position: absolute;
    top: 0;
    border-width: 3px;
    border-radius: 50%;
  }
  .circle-clipper {
    &.paper-spinner::after {
      content: '';
      box-sizing: border-box;
      position: absolute;
      top: 0;
      border-width: 3px;
      border-radius: 50%;
      bottom: 0;
      width: 200%;
      border-style: solid;
      border-bottom-color: transparent !important;
    }
    &.left.paper-spinner::after {
      left: 0;
      border-right-color: transparent !important;
      transform: rotate(129deg);
    }
    &.right.paper-spinner::after {
      left: -100%;
      border-left-color: transparent !important;
      transform: rotate(-129deg);
    }
  }
  .active.paper-spinner {
    .gap-patch.paper-spinner::after {
      animation-duration: 1333ms;
      animation-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
      animation-iteration-count: infinite;
    }
    .circle-clipper {
      &.paper-spinner::after {
        animation-duration: 1333ms;
        animation-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
        animation-iteration-count: infinite;
      }
      &.left.paper-spinner::after {
        animation-name: left-spin-paper-spinner-0;
      }
      &.right.paper-spinner::after {
        animation-name: right-spin-paper-spinner-0;
      }
    }
  }
  #spinnerContainer.cooldown.paper-spinner {
    animation: container-rotate-paper-spinner-0 1568ms linear infinite, fade-out-paper-spinner-0 400ms cubic-bezier(0.4, 0, 0.2, 1);
  }
}

@keyframes container-rotate-paper-spinner-0 {
  to {
    transform: rotate(360deg);
  }
}

@keyframes fill-unfill-rotate-paper-spinner-0 {
  12.5% {
    transform: rotate(135deg);
  }
  25% {
    transform: rotate(270deg);
  }
  37.5% {
    transform: rotate(405deg);
  }
  50% {
    transform: rotate(540deg);
  }
  62.5% {
    transform: rotate(675deg);
  }
  75% {
    transform: rotate(810deg);
  }
  87.5% {
    transform: rotate(945deg);
  }
  to {
    transform: rotate(1080deg);
  }
}

@keyframes layer-1-fade-in-out-paper-spinner-0 {
  0% {
    opacity: 1;
  }
  25% {
    opacity: 1;
  }
  26% {
    opacity: 0;
  }
  89% {
    opacity: 0;
  }
  90% {
    opacity: 1;
  }
  to {
    opacity: 1;
  }
}

@keyframes layer-2-fade-in-out-paper-spinner-0 {
  0% {
    opacity: 0;
  }
  15% {
    opacity: 0;
  }
  25% {
    opacity: 1;
  }
  50% {
    opacity: 1;
  }
  51% {
    opacity: 0;
  }
  to {
    opacity: 0;
  }
}

@keyframes layer-3-fade-in-out-paper-spinner-0 {
  0% {
    opacity: 0;
  }
  40% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  75% {
    opacity: 1;
  }
  76% {
    opacity: 0;
  }
  to {
    opacity: 0;
  }
}

@keyframes layer-4-fade-in-out-paper-spinner-0 {
  0% {
    opacity: 0;
  }
  65% {
    opacity: 0;
  }
  75% {
    opacity: 1;
  }
  90% {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

@keyframes left-spin-paper-spinner-0 {
  0% {
    transform: rotate(130deg);
  }
  50% {
    transform: rotate(-5deg);
  }
  to {
    transform: rotate(130deg);
  }
}

@keyframes right-spin-paper-spinner-0 {
  0% {
    transform: rotate(-130deg);
  }
  50% {
    transform: rotate(5deg);
  }
  to {
    transform: rotate(-130deg);
  }
}

@keyframes fade-out-paper-spinner-0 {
  0% {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}