<h1>Welcome to app!</h1>
<a href="/login">Login</a>

<div class="container-outer">
  <div class="paper-spinner-0">
    <div id="spinnerContainer" class="active  style-scope paper-spinner">
      <div class="spinner-layer layer-1 style-scope paper-spinner">
        <div class="circle-clipper left style-scope paper-spinner"></div>
        <div class="circle-clipper right style-scope paper-spinner"></div>
      </div>
      <div class="spinner-layer layer-2 style-scope paper-spinner">
        <div class="circle-clipper left style-scope paper-spinner"></div>
        <div class="circle-clipper right style-scope paper-spinner"></div>
      </div>
      <div class="spinner-layer layer-3 style-scope paper-spinner">
        <div class="circle-clipper left style-scope paper-spinner"></div>
        <div class="circle-clipper right style-scope paper-spinner"></div>
      </div>
      <div class="spinner-layer layer-4 style-scope paper-spinner">
        <div class="circle-clipper left style-scope paper-spinner"></div>
        <div class="circle-clipper right style-scope paper-spinner"></div>
      </div>
    </div>
  </div>
</div>